// Navigation Styles here

.header{
width: 100%;
border-bottom: 2px dashed @navigation-border;
// display:flex;
// justify-content: space-between;
}

header{
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
}
h1 {
  display: flex;
  justify-content: flex-start;
}
a{
margin-right: 3rem;
font-size: 1.5rem;
}

a:link{
  color: @shark;
  text-decoration: none;

}
